.container1 {
float:left;
border-radius: 40px;
}
.container2 {
margin-left: 45%;
}

.container2{
    float:left;
}
.container3 {
    margin-left:25%;
    float:left;   
}
.container4 {
    margin-left:25%;
}

